.allpage {
  width: 65%;
  margin: auto;
}

/*
firstimgecontener {
    width: 100%;
}
*/

.firstimgecontener img {
  width: 100%;
  height: 250px;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.headerul {
  padding: 3px;
  margin: 0px;
  border: 12px solid orangered;
  background-color: orangered;
}

a:hover {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

.divcontener {
  display: flex;
  justify-content: center;

  
}

/*#img1,
#img2,
#img3 {
  width: 305px;
  height: 305px;
}*/

.divcontener div img {
  width: 305px;
  height: 230px;
}

button {
  background-color: red;
  border: 3px solid black;
  float: right;
}

.item {
  border: 2px solid gray;
}

h2,
p {
  padding: 9px;
}

.ul2contener{
    text-align: center;
}

span {
    color:cornflowerblue;
}